html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
 font-family: 'Raleway', sans-serif;
  color: black;
  text-align: center;
  background-image: linear-gradient(
      rgba(255, 253, 253, 0.88),
      rgba(255, 253, 253, 0.88)
    ),
    url(/images/bg.jpg);
  background-size: 400%;
}

.header-h1{
text-decoration: none;
}

.Lauri,
.hi,
.h2-about,
h1 {
  font-family: "WindSong", cursive;
}

.Lauri{
font-size: 40px;
}

main {
  padding: 0 20px 50px 20px;
  max-width: 1300px;
  margin: 0 auto 50px auto;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 60px;
  margin-left: 10px;
  margin-right: 10px;
  color: #b966a4;
}

h2,
h3 {
  font-weight: 700;
  margin-top: 25px;
}

h2, .account-p {
  margin-bottom: 0px;
  font-size: 24px;
}

@media screen and (min-width: 800px){

  h2, .account-p{
    font-size: 34px;
  }
}

.h2-about {
  font-size: 40px;
  margin-top: 0;
  background-color: #b966a4;
  color: white;
}

.twins .h2-about {
  margin-top: 25px;
}

.twins{
max-width: 900px;
margin: 0 auto 50px auto;
}

h3 {
  margin-bottom: 10px;
}

p {
  margin-top: 10px;
}

.about-us {
  margin-top: 10px;
}

.source {
  font-size: 12px;
}

.source a {
  text-decoration: none;
  color: rgb(212, 211, 211);
}

.nf-source a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.dr-tahiri {
  margin-bottom: 5px;
}

/* nadpis ahoj všem */
.hi {
  font-size: 60px;
  margin: 25px 0;
}

.contact,
.foto {
  margin: 25px 0 0;
}

.foto {
  text-align: center;
}

.menu {
  padding: 0 0 25px 0;
  display: none;
  margin-top: 0;
}

.visible {
  display: block;
}

.toggler {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  padding: 12px 0;
}

.toggler-x {
  text-align: right;
  margin-right: 20px;
  font-family: serif;
  font-size: 40px;
  color: white;
  height: 25px;
}

nav a {
  list-style: none;
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  padding: 8px 0;
}

nav {
  background-color: #b966a4;
  box-shadow: 0px 2px 4px rgb(160, 159, 159);
}

.hover:hover {
  background-color: #d3a1c6;
  }

/* obrázky */

img {
  width: 100%;
  box-shadow: rgb(217, 217, 214) 0 0 3px 1px;
}

.main-pic {
  width: 100%;
  max-width: 200px;
  margin: 0 25px 25px;
}

.foto img {
  max-width: 450px;
  width: 100%;
}



.mum img{
border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.dad img{
border-radius: 23% 77% 31% 69% / 60% 29% 71% 40%;
}

.aunt img{
border-radius: 54% 46% 30% 70% / 19% 30% 70% 81%;
}

.grid img{
max-width: 80%;
margin: 0px 30px 30px 30px;
}

.dad p {
  padding-top: 60px;
}

.twin-photo-about {
 
  border-radius: 30% 40% 29% 71% / 64% 30% 70% 36%;
  margin: 0px 30px 30px 30px;
  max-width: 550px;
  width: 70%;
}


.pluses img {
  margin-top: 22px;
}

.pluses{
  text-align: left;
}

.medpor, .dr-tahiri{
  background-color: #ffffff4f;
  max-width: 700px;
  margin: 0 auto;
  box-shadow: rgb(185 102 164 / 48%) 0px 0px 30px -20px, rgb(185 102 164 / 9%) 0px 30px 30px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
}

.medpor p{
padding: 30px;
}

.medpor-grid{
display: block;
padding: 30px;
}

.medpor img{
margin-top: 30px;
}

.dr-tahiri img{
max-width: 50%;
border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.dr-tahiri{
  padding: 30px;
  max-width: 900px;
}

.dr-tahiri h2, .treatment h3{
  margin-top: 0;
}

.w-bg-treatment{
background-color: #ffffff4f;
margin: 0 auto;
box-shadow: rgb(185 102 164 / 48%) 0px 0px 30px -20px, rgb(185 102 164 / 9%) 0px 30px 30px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
}

.w-bg-treatment p{
padding: 30px;
margin-top: 0;
}

@media screen and (min-width: 750px){

  .medpor-grid{
    display: grid;
    grid-template-columns: 60% auto;
    padding: 30px;
    align-items: center;
    justify-content: center;
  }

  .medpor img{
    margin-top: 0;
    }
}

@media screen and (min-width: 900px){

  .treatment{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
  }
}


.medpor h3, .w-bg-treatment h3{
  padding: 15px;
  margin-bottom: 0;
  background-color: #b966a4;
  color: white;
}

.foto-nadace {
  width: 100%;
  max-width: 250px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.motto{
font-size: 25px;
color: #FF8484;
}

.here{
background-color: #FF8484;
border-radius: 50%;
padding: 19px 15px;
width: 70px;
height: 70px;
display: inline-block;
}

.here:hover{
background-color: #d3a1c6 ;
}

.account{
font-size: 30px;
font-weight: 700;
color: #b966a4;
}

.mt-25{
margin-top: 25px;
}

.hashtag{
font-size: 25px;
}

@media screen and (min-width: 800px){

  .hashtags{
  display: flex;
  justify-content: space-between;
    }


}

@media screen and (min-width: 1100px){

  .hashtag{
  font-size: 40px;
  }
}




.contact a {
  text-decoration: none;
  color: #9b1f7c;
}

.contact-form{
margin-top: 25px;
}

.form-field > label,
.form-field-area textarea {
  display: block;
}

.form-field input {
  padding: 10px;
  width: 280px;
  max-width: 100%;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #595959;
    margin-bottom: 20px;
}


.form-field-area textarea {
  width: 500px;
  max-width: 100%;
  height: 200px;
  border: none;
  border-radius: 3px;
  margin: 0 auto;
  box-shadow: 1px 1px 3px #595959;
    margin-bottom: 20px;
}


.form-field input:focus,
.form-field-area textarea:focus {
  border: 1px solid #b966a4;
  outline: 0;
}

.required {
  color: #b966a4;
}

.submit {
  padding: 8px 6px;
  width: 150px;
  max-width: 100%;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  background-color: #b966a4;
  color: white;
  font-weight: 400;
  box-shadow: 1px 1px 3px #595959;

}

.submit:hover {
  background-color: #d3a1c6;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #d3a1c6;
  color: white;
  font-size: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.thanks a {
  display: none;
  list-style: none;
}

.thanks {
  list-style: none;
}

.thanks-page,
.nf-account {
  margin-bottom: 250px;
}

.qr{
max-width: 200px;
}

.ig{
margin: 25px 0;
}

  .lauri-pic::before {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 270px;
    margin-bottom: -270px;
    border: 3px solid #b966a4;
    transform: rotate(-5deg);
    position: relative;
    z-index: -1;
  }

.w-bg{
  margin-bottom: 50px;
background-color: #ffffff4f;
box-shadow: rgb(185 102 164 / 48%) 0px 0px 30px -20px, rgb(185 102 164 / 9%) 0px 30px 30px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
}

.w-bg p, .w-bg-treatment p{
padding: 30px;
}







@media screen and (min-width: 370px) {


  .main-pic {
  max-width: 280px;
  }


  .lauri-pic::before {
    width: 290px;
    height: 370px;
    margin-bottom: -370px;
  }
}

@media screen and (min-width: 500px) {
  .main-pic {
    max-width: 380px;
  }

  .lauri-pic::before {
    width: 390px;
    height: 500px;
    margin-bottom: -500px;
  }
}

@media screen and (min-width: 1100px) {
  .foto {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    gap: 20px;
  }
}

@media screen and (min-width: 900px) {
  body {
    background-size: 200%;
  }

  h1 {
    font-size: 85px;
    margin: 20px 0;
  }

  .menu {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  nav a {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    padding: 18px 12px;
  }


  .toggler {
    display: none;
  }

  .main-pic {
    float: right;
  }

  .lauri-pic {
    position: relative;
  }

  .lauri-pic::before {
    position: absolute;
    left: unset;
    right: 16px;
    width: 390px;
    height: 510px;
    z-index: -99;
  }
}

@media screen and (min-width: 1000px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    column-gap: 30px;

  }
}

/*
@media screen and (min-width:1125px){

  .twin-photo-about{
    width: 500px;
    }
    
    .dad-photo-about{
    width: 450px;
    }

    .mum-photo-about, .aunt-photo-about  {
      width: 400px;
      }

}
*/
